*, *::after, *::before {
    margin: 0;
    padding: 0;
}

.fav_things {
    min-height: 100px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
    flex-direction: row;
}

.card-container {
    --primary: #ffffff;
    width: 450px;
    height: 300px;
    margin: 40px;
    perspective: 1000px;
}

.flip-card {
    width: inherit;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
}

.card-container:hover .flip-card, .card-container:focus-within .flip-card {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front {
    transform: rotateY(0deg);
    z-index: 2;
}

.card-back {
    transform: rotateY(180deg);
    z-index: 1;
}

figure {
    z-index: -1;
}

figure, .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fav_img {
    height: 100%;
    border-radius: 24px;
}

.favourite {
    display: block;
    width: auto;
    margin-top: 12%;
    padding: 8px 22px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 12px;
    color: rgb(255, 255, 255);
    background: hsla(var(--hue), 25%, 10%, .5);
}

.img-bg {
    background: #00000085;
}

.card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
    content: "";
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);
    width: 100%;
    height: 6px;
    border: 1px solid var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
    transition: .1s;
}

.card-back .img-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

.card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
}

.fav_name_ul {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    list-style: none;
    color: hsl(0deg 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fav_name {
    width: 100%;
    padding-bottom: 100px;
    font-size: 30px;
    text-align: center;
    position: relative;
}

li:nth-child(2n) {
    color: hsl(0deg 0% 100%);
}

li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: .2;
}

.imageLink {
    font-family: inherit;
    font-weight: bold;
    color: hsl(0deg 0% 100%);
    letter-spacing: 4px;
    padding: 20px 20px;
    background: transparent;
    transition: .3s;
    cursor: pointer;
}

button:hover, button:focus {
    color: var(--primary);
    background: hsla(var(--hue), 25%, 10%, .2);
    border-color: currentColor;
}

button:active {
    transform: translate(2px);
}

h1{
    font-size: 80px;
    color: white;
    background-color: #0000006b;
}

h3,h4 {
    letter-spacing: 0;
    font-weight: 400;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: 400;
    line-height: 120%!important;
    color: #1f1f1f;
    margin: 0
}

h4 {
    font-size: 16px
}

.btn,a {
    text-decoration: none!important;
    outline: 0!important;
    transition: all .3s ease-in-out
}

li,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

p {
    margin: 0
}

.hvr-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #000000;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    border-radius: 0;
    box-shadow: none
}

.hvr-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-hover {
    overflow: hidden
}

.footer-main {
    padding: 70px 0;
    background: #ffffff78
}

.footer-top-box {
    margin-bottom: 30px
}

.footer-top-box h3 {
    color: #ffffff;
    position: relative;
    font-size: 20px
}

.footer-top-box h3::before {
    border-bottom: 2px solid #ffffff;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0
}

.list-time {
    margin-top: 15px
}

.footer-top-box .list-time li {
    color: #ffffff;
    font-size: 16px;
    display: block;
    float: none
}

.newsletter-box {
    margin-top: 15px;
    position: relative
}

.newsletter-box input {
    height: 40px;
    border: none;
    padding: 0 10px;
    background: 0 0;
    border-radius: 0;
    background: #bff6ff;
    padding: 0 20px;
    width: 100%
}

.newsletter-box button {
    color: #fff;
    font-size: 16px;
    font-weight: 500
}

.footer-top-box ul {
    display: inline-block
}

.footer-top-box ul li {
    float: left;
    margin-right: 5px
}

.footer-top-box ul li a {
    color: #fff;
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 32px
}

.footer-link-contact {
    margin-top: 15px
}

.footer-link-contact h4 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700
}

.footer-link-contact h4::before {
    border-bottom: 3px solid #ffffff;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0
}

.footer-link-contact ul li {
    margin-bottom: 12px
}

.footer-link-contact ul li p {
    padding-left: 25px;
    color: #ccc;
    position: relative
}

.footer-link-contact ul li p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    padding-right: 16px;
    line-height: 24px
}

.footer-link-contact ul li p a {
    color: #ffffff;
}

.footer-copyright {
    background: #060606;
    padding: 20px 0;
    position: relative
}

.footer-copyright p {
    text-align: center;
    color: #fff;
    font-size: 16px
}

*,::after,::before {
    box-sizing: border-box
}

footer,header,nav {
    display: block
}

h1,h2,h3,h4,h5 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

a:hover {
    color: #ffffff;
}

img {
    vertical-align: middle;
    border-style: none
}

button {
    border-radius: 0
}

button,input {
    overflow: visible
}

button {
    text-transform: none
}

[type=submit],button {
    -webkit-appearance: button
}

.h3,h3,h4 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}


.h3,h3 {
    font-size: 2rem
}

h4 {
    font-size: 1.5rem
}

.small {
    font-size: 80%;
    font-weight: 400
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.home-title,.one,.two,.three {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width: 768px) {
    .two {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 992px) {
    .one {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
}

.form-group {
    margin-bottom: 1rem
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.text-center {
    text-align: center!important
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: .9;
    font-size: 20px;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 100px
}

@media (max-width: 1000px) {
    section {
        padding:100px 50px
    }
}

@media (max-width: 600px) {
    section {
        padding:80px 30px
    }
}

section h3.title {
    color: #000000;
    text-transform: capitalize;
    font: bold 32px 'Open Sans',sans-serif;
    margin-bottom: 35px;
    text-align: center
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0
}

header nav {
    display: flex
}

header nav li {
    margin: 0 15px
}

header nav li:first-child {
    margin-left: 0
}

header nav li:last-child {
    margin-right: 0
}

@media (max-width: 1000px) {
    header {
        padding:20px 50px
    }
}

@media (max-width: 700px) {
    header {
        flex-direction:column
    }
}

.hero {
    position: relative;
    justify-content: center;
    min-height: 800px;
    color: #fff;
    text-align: center
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto;
    z-index: -1
}

.hero .background-image:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .75
}

@media (max-width: 800px) {
    .hero {
        min-height:500px
    }
}

.home-features .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333
}

.home-features .grid li.small {
    flex-basis: 40%
}

.home-features .grid li.large {
    flex-basis: 60%
}

@media (max-width: 1000px) {
    .home-features .grid li.large,.home-features .grid li.small {
        flex-basis:100%
    }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@media (max-width: 1000px) {
    .home-services .grid li {
        flex-basis:70%;
        margin-bottom: 65px
    }

    .home-services .grid li:last-child {
        margin-bottom: 0
    }
}

.reviews {
    background-color: #fff
}

.reviews .quote {
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0
}

.reviews .author {
    font-size: 18px;
    margin-bottom: 50px
}

.reviews .author:last-child {
    margin-bottom: 0
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 0;
    background: linear-gradient(-45deg, #000000, #737373, #000000, #737373);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;
    justify-content: space-evenly
}

footer ul li {
    margin: 0 8px
}

footer ul li:first-child {
    margin-left: 0
}

footer ul li:last-child {
    margin-right: 0
}

footer p {
    font-size: 14px;
    color: rgba(255,255,255,.6);
    margin-bottom: 10px
}

footer p a {
    color: #fff
}
